.btn, .btn-noripple {
    display: inline-flex;
    padding-inline: 15px;
    padding-block: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: none;
    align-items: center;
    justify-content: center;
}

.btn-icon {
    padding-block: 5px;
}

.btn-icon object {
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.btn-info {
    background: #1d4ed8;
    color: #ffffff;
}

.btn-info:hover {
    background: #1e40af;
}

.btn-danger {
    background: #dc2626;
    color: #ffffff;
}

.btn-danger:hover {
    background: #991b1b;
}

.btn-secondary {
    background: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    background: #5c636a;
}

.btn::after {
    background: url("./img/shield-lock-open.svg");
}

.btn-ripple-effect {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    transition-duration: 2s;
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    } 100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}