.form {
    min-width: 576px;
    padding: 24px;
    background: #00000010;
    border-radius: 8px;
}

.form-title {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
}

.err-msg {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #dc2626;
}

.data-table {
    width: 100%;
    margin: 12px;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 5px;
    border: 2px solid #262626;
}