<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="content">
            <h4>Login As</h4>
            <div class="nav-options">
                <a href="/student">
                    <button type="submit" class="btn btn-info">
                        Student
                    </button>
                </a>
                <a href="/teacher">
                    <button type="submit" class="btn btn-info">
                        Teacher
                    </button>
                </a>
            </div>
        </div>
    </main>
    <script src="./js/button.js"></script>
</body>
</html>